h1{
    color: red
    ;
}
#home-card{
    text-align: center;
    /* border: 3px;
    border-color: black;
    border-style: solid; */
    border: 3px solid blue;
}

#p2{
    color: blue;
}
#home-card:hover{
    background-color: lavender;
}
#nav{
    text-align: center;
    background-color: rgb(209, 85, 145);
    height: 25px;
    padding-top: 5px;
}